.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:200px;
    margin: 0 auto;
    margin-top: 400px;


}

.btn{
    border: 1px solid black;
    background-color:black;
    color: antiquewhite;
}